services:
  mongo:
    container_name: mongo
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: 'tunelad'
      MONGO_INITDB_ROOT_PASSWORD: 'tunelad'
      MONGO_INITDB_DATABASE: 'tunelad'
    ports:
      - '27017:27017'

  mongo-express:
    container_name: mongo-express
    image: mongo-express
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_URL: "mongodb://mongo:27017"
      ME_CONFIG_MONGODB_ADMINUSERNAME: "tunelad"
      ME_CONFIG_MONGODB_ADMINPASSWORD: "tunelad"
    ports:
      - '8081:8081'

  zipkin:
     image: openzipkin/zipkin
     ports:
       - 9411:9411

  prometheus:
    image: prom/prometheus:v2.42.0
    volumes:
      - ./docker/prometheus/:/etc/prometheus/
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    # On MacOS, remove next line and replace localhost by host.docker.internal in prometheus/prometheus.yml and
    # grafana/provisioning/datasources/datasource.yml

  grafana:
    image: grafana/grafana:9.4.3
    volumes:
      - ./docker/grafana/provisioning/:/etc/grafana/provisioning/
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
    ports:
      - 3000:3000
    # On MacOS, remove next line and replace localhost by host.docker.internal in prometheus/prometheus.yml and
    # grafana/provisioning/datasources/datasource.yml
