openapi:
  description: Provides access to the tracks via Reactive Rest Api.
  license: Apache 2.0
  license-url: http://springdoc.org
  terms-of-service-url: http://swagger.io/terms/
  title: Spring Boot Reactive REST API test
  version: 1.0.0
info:
  app:
    description: "@project.description@"
    name: "@project.name@"
springdoc.enable-kotlin: false

spring:
  application:
    name: Tune Lad
  data:
    mongodb:
      auto-index-creation: true
  webflux:
    problemdetails:
      enabled: true
  web:
    resources:
      chain:
        # Enable the Spring Resource Handling chain. Disabled by default unless at least one strategy has been enabled.
        enabled: true
        compressed: true
        strategy:
          content:
            # Enable the content Version Strategy.
            enabled: true
            # Comma-separated list of patterns to apply to the Version Strategy.
            paths: /**, **/*.js,**/*.mjs, **/*.css, **/*.png
      cache:
        cachecontrol:
          max-age: 365d
  mongodb:
    database: 'tunelad'
    password: 'tunelad'
    username: 'tunelad'
    authentication-database: 'admin'
    host: 'localhost'
    port: 27017
management:
  info:
    build.enabled: true
    git:
      mode: full
      enabled: true
    java.enabled: true
    defaults.enabled: true
    os.enabled: true
    env.enabled: true
  endpoint:
    health.show-details: always
    env:
      access: read_only
    info:
      access: read_only
    prometheus:
      access: read_only
  endpoints:
    web:
      exposure:
        include: "health,info,applicationmodules,metrics,prometheus"
    access:
      default: read_only
  tracing:
    sampling.probability: 1.0
    enabled: true
  metrics:
    tags:
      application: "@project.artifactId@"

server:
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json,application/xml
    min-response-size: 2KB
  http2:
    enabled: true
logging:
  pattern:
    level: '%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]'
  level:
    org.springframework.modulith.observability.ModuleEntryInterceptor: TRACE
