name: workflow-build

on:
  push:
    branches: [ main ]
    paths:
      - !**/*.adoc
  pull_request:
    branches: [ main ]
    paths:
      - !**/*.adoc

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin
          cache: maven

      - name: Compile and test project
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        run: ./mvnw -B -ntp clean verify
